* {
  padding: 0;
  margin: 0;
  background-color: #1D1C1A;
  font-family: Mononoki Nerd Font;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative; /* Keeps it in normal document flow */
  margin-top: 60px; /* Moves it down from the top */
  border-radius: 10px; /* Optional: Adds rounded corners */
  width: 60%; /* Keeps it from stretching too wide */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(172, 136, 255);
}

.logo img {
  height: 60px;
  border-radius: 50%;
}

.menu {
  list-style: none;
  display: flex;
  gap: 15px; /* Reduces space between items */
}

.menu li {
  display: inline;
  font-family: Mononoki Nerd Font;
}

.menu a {
  text-decoration: none;
  color: #FBF9F1;
  font-weight: bold;
  padding: 8px 12px; /* Adjusts padding for a more compact look */
  transition: color 0.3s;
}

.menu a:hover {
  color: rgb(172, 136, 255);
}

h2 {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  line-height: 2rem;
  color: #FBF9F1;
  text-align: center;
}

p {
  line-height: 1.6rem;
  color: #FBF9F1;
  text-align: center;
  
}

p a {
  line-height: 1.6rem;
  color: #FBF9F1;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(172, 136, 255);
}

p a:hover {
  color: rgb(172, 136, 255);
}

.npub {
  font-style: italic;
}

.main {
  margin-top: 3%;
}

.home-list{
  margin-top: 2%;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column; /* Stack navigation items vertically */
    width: 90%; /* Allow nav to take up more space on smaller screens */
    padding: 20px; /* Add padding for better spacing */
    margin-top: 20px; /* Less space from the top */
  }

  .menu {
    flex-direction: column; /* Stack menu items vertically */
    gap: 10px; /* Less space between items */
    text-align: center; /* Center the text */
  }

  .menu li {
    display: block; /* Stack items */
  }

  .logo img {
    height: 50px; /* Smaller logo on mobile */
  }

  h2 {
    font-size: 1rem; /* Increase font size for better readability */
  }

  p {
    font-size: 1rem; /* Adjust font size for readability */
  }
}

@media screen and (max-width: 480px) {
  nav {
    width: 100%; /* Full width for very small screens */
    padding: 15px; /* Adjust padding */
  }

  .menu a {
    font-size: 1rem; /* Larger text for better readability */
  }
}
